<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <pluginGroups>
  </pluginGroups>

  <proxies>
  </proxies>

  <servers>
    <server>
      <id>releases</id>
      <username>developer</username>
      <password>developer</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>developer</username>
      <password>developer</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>aliyun-central</id>
      <mirrorOf>central</mirrorOf>
      <url>https://maven.aliyun.com/repository/public</url>
    </mirror>
    <mirror>
      <id>google-central-asia</id>
      <mirrorOf>central</mirrorOf>
      <url>https://maven-central-asia.storage-download.googleapis.com/maven2</url>
    </mirror>
    <mirror>
      <id>aliyun-apache-snapshots</id>
      <mirrorOf>apache snapshots</mirrorOf>
      <url>https://maven.aliyun.com/repository/apache-snapshots</url>
    </mirror>
    <mirror>
      <id>maven-default-http-blocker</id>
      <mirrorOf>external:dont-match-anything-mate:*</mirrorOf>
      <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
      <url>http://0.0.0.0/</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>development</id>
      <repositories>
        <repository>
          <id>poizon-repos</id>
          <url>https://nexus.shizhuang-inc.com/nexus/content/groups/public/</url>
        </repository>
        <repository>
          <id>aliyun-repos</id>
          <url>https://maven.aliyun.com/nexus/content/groups/public</url>
        </repository>

        <repository>
          <id>apache.snapshots</id>
          <name>Apache Snapshot Repository</name>
          <url>https://maven.aliyun.com/repository/apache-snapshots</url>
        </repository>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://maven-central-asia.storage-download.googleapis.com/maven2</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://maven-central-asia.storage-download.googleapis.com/maven2</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>development</activeProfile>
  </activeProfiles>
</settings>